.container-cards {
    display: flex;
    width: 100% !important;
    gap: 40px 10px;
}

.tile-below {
    margin-top: 30px;
    display: flex;
    height: 10rem;
    align-items: end;
    justify-content: inherit;
    width: 100%;
}

.details-book {
    position: relative;
    display: block;
    #note {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
    }
    #book-title {
        position: absolute;
        top: -1px;
        right: 1px;
    }
    .date {
        display: block;
        position: absolute;
        top: 3rem;
    }

    .completedDate > span {
        line-height: 1.8rem;
    }

    .tagStyle {
        height: 1px !important;
    }
}

#autor-status {
    position: absolute;
    justify-content: left;

    p:first-child {
        margin-right: 10.5rem;
    }
}

.cds--tile-content__above-the-fold {
    h4 {
        text-align: center;
    }

    div {
        display: flex;
        width: 100%;
        align-items: end;
        justify-content: space-between;
        height: 5rem;
    }
}

.ExpandableTile {
    width: 30% !important;
    min-height: 200px !important;
}